body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/background.png);
    margin: 0px;
    padding: 0px;
    font-size: 1.4em;
}

nav {
    text-align: center;
    padding: 1.2em;
    font-size: 0.8em;
}

nav a:link {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.04em;
    background: pink;
    color: white;
    padding: 0.8em 1em;
    margin: 0 0.5em;
    border-radius: 0.4em;
}

nav a:hover {
    background: white;
    color: pink;
    border-bottom: 0.3em solid pink;
}

nav a:visited {
    color: grey;
}

h1,
h3 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2em;
}

p, cite {
    font-size: 0.8em;
    text-align: justify;
}

.container {
    #background-color: white;
    width: 800px;
    margin: 0 auto;
    padding: 1em;
}

.photo {
    width: 800px;
}